.chat-md {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 500;
    letter-spacing: -0.025em;
  }

  p {
    line-height: 1.6;
  }

  p:not(:first-child) {
    margin-top: 1.25em;
  }

  ul {
    list-style-type: disc;
    margin-left: 1.5em;
    margin-top: 1.25em;
    margin-bottom: 1.25em;

    li {
      margin-top: 0.5em;
    }
  }

  pre {
    white-space: pre-line;
  }
}
